body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 90%;
}
.marker {
  width: 10px;
  height: 10px;
  background-color: black;
  color: black;
}
.well{
  z-index: -1;
  position: relative;
}
#selDataset{
  z-index: -1;
  position: relative;
}